<div class="container">
    <div class="row" style="border-bottom: 1px solid black;">
        
            <div class="col-6" style="border-bottom: 1px solid black;">
                <button>Lâm xinh đẹp</button>
            </div>
            <div class="col-6" style="border-bottom: 1px solid black;text-align: right;"> 
                <button >Chu đẹp trai</button>
            </div>
        
        <DIV class="col-4">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Action</h1>
        </DIV>
    </div>
</div>
<div class="container" style="border-bottom: 1px solid black;border-top: 1px solid black;">
    <div class=" row">
        <DIV class="col-4">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <button>remote</button>
        </DIV>
    </div>
</div>
<div class="container" style="border-bottom: 1px solid black;border-top: 1px solid black;">
    <div class=" row">
        <DIV class="col-4">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <h1>Product</h1>
        </DIV>
        <DIV class="col-2">
            <button>remote</button>
        </DIV>
    </div>
</div>
<div class="container" style=" padding-top: 20px;"><button>Continue shopping 
</button></div>