<app-header title="Mobile Store" subtitle="" button=""></app-header>
<!-- 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
-->

<form class="form-horizontal" (ngSubmit)="createProduct()" #loginForm="ngForm" >
<fieldset>

<!-- Form Name -->
<legend>PRODUCTS</legend>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">Product Name</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" [(ngModel)]='name'  class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Unit Price">Unit Price</label>  
  <div class="col-md-4">
  <input id="Unit Price" name="Unit Price" [(ngModel)]='price' placeholder="" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Units In Stock">Units In Stock</label>
  <div class="col-md-4">
     <input id="Units In Stock" name="Units In Stock" [(ngModel)]='quantity' placeholder="" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Discriptions">Discriptions</label>  
  <div class="col-md-4">
  <input id="Discriptions" name="Discriptions" [(ngModel)]='description' class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Manufacturer">Manufacturer</label>  
  <div class="col-md-4">
  <input id="Manufacturer" name="Manufacturer" [(ngModel)]='manufacturer' class="form-control input-md" required="" type="text">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Category">Category</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="Category" [(ngModel)]='category' name="Category"></textarea>
  </div>
</div>
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Add Product</button>
  </div>
  </div>
</fieldset>
</form>